<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" lang="ko"
	data-bs-theme="light" data-layout="fluid" data-sidebar-theme="colored" data-sidebar-position="left" data-sidebar-behavior="sticky">
<head>
	<!--/* [공통 meta, title] */-->
	<th:block th:replace="fragments/header :: headInfo"/>
	
	<!--/* [공통 CSS] */-->
	<th:block th:replace="fragments/header :: css"/>
	
	<!--/* [화면 CSS] */-->
	<th:block layout:fragment="pageCss"/>
</head>
<body>
<!--/* s : wrapper */-->
<div class="wrapper">
	<!--/* [공통 헤더] */-->
	<th:block th:replace="fragments/header :: side"/>
	
	<div class="main-wrap">
		<!--/* s : main */-->
		<div class="main">
			<!--/* s : header */-->
			<nav class="navbar navbar-expand navbar-bg">
				<a class="sidebar-toggle">
					<i class="hamburger align-self-center"></i>
				</a>
				<div class="user-info ms-auto">
					접속 IP :&nbsp;<span th:text="${cmmVO.SESSION_USER_IP}"></span>
				</div>
			</nav>
			<!--/* e : header */-->
			
			<!--/* [공통 첨부파일 업로드] */-->
			<input type="file" id="fileUpload" name="fileUpload" style="display:none;"/>
			<!--/* [화면 UI 콘텐츠] */-->
			<main layout:fragment="pageContent"></main>
		</div>
		<!--/* e : main */-->
		
	
		<!--/* [공통 JS] */-->
		<th:block th:replace="fragments/script :: script"/>
	
		<!--/* [화면 전용 JS] */-->
		<th:block layout:fragment="pageScript"/>
	
		<!--/* [공통 footer] */-->
		<th:block th:replace="fragments/footer :: footer"/>
	</div>
</div>
<!--/* e : wrapper */-->

<!--/* ✅ [공통 Dialog] */-->
<th:block th:replace="fragments/dialog :: dialog"/>
</body>
</html>
