<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
	<!--/* ✅ [공통 meta, title] */-->
	<th:block th:replace="fragments/header :: headInfo"/>
	
	<!--/* ✅ [공통 CSS] */-->
	<th:block th:replace="fragments/header :: css"/>
	
	<!--/* ✅ [화면 CSS] */-->
	<th:block layout:fragment="pageCss"/>
</head>
<body>
	<!-- s : wrapper -->
	<div class="wrapper">
		<!-- s : main-wrap -->
		<div class="main-wrap">
			<div class="auth-full-page d-flex">
				<div class="auth-form p-3">
					<!--/* ✅ [화면 UI 콘텐츠] */-->
					<main layout:fragment="pageContent">[본문]</main>
				</div>
			</div>
		</div>
		<!-- s : main-wrap -->
	</div>
	<!-- e : wrapper -->

	<!--/* ✅ [공통 JS] */-->
	<th:block th:replace="fragments/script :: script"/>

	<!--/* ✅ [화면 전용 JS] */-->
	<th:block layout:fragment="pageScript"/>
</body>
</html>
