<th:block layout:decorate="~{${layoutName}}">
<!-- 페이지 content(ui) -->
<main layout:fragment="pageContent" class="content">
	<div class="container-fluid p-0">
		<!-- s : 내용 시작 -->
		<div class="row align-items-center content-head">
			<div class="col-md-6">
				<h2 class="h1 mb-0 col-md-auto" id="title">연료 등록</h2>
			</div>
			<div class="col-md-6">
				<nav style="--bs-breadcrumb-divider: '>';" aria-label="breadcrumb">
					<ol class="breadcrumb mb-0 justify-content-end">
						<li class="breadcrumb-item" aria-current="page"><i class="fas fa-home me-1"></i>홈</li>
						<li class="breadcrumb-item" aria-current="page">기준정보</li>
						<li class="breadcrumb-item" aria-current="page">연료 등록</li>
					</ol>
				</nav>
			</div>
		</div>
		<div class="row">
			<!-- s : 왼쪽 -->
			<div class="col-md-6">
				<!-- s : card -->
				<div class="card">
					<div class="card-body">
						<!-- s : subtitle-wrap -->
						<div class="subtitle-wrap row">
							<div class="col-md-6">
								<h3 class="card-title">연료 목록</h5>
							</div>
							<div class="col-md-6">
								<div class="text-sm-end">
									<button id="btnSearch" class="btn btn-secondary"><i class="fas fa-search me-2"></i>검색</button>
									<button id="btnDeleteSelect" disabled class="btn btn-outline-primary"><i class="fa-solid fa-trash-can me-2"></i>일괄 삭제</button>
								</div>
							</div>
						</div>
						<!-- e : subtitle-wrap -->
						<!-- s : sub-box -->
						<div class="sub-box">
							<form id="searchForm">
								<div class="table-form">
									<table class="table table-bordered align-middle">
										<colgroup>
											<col width="110">
											<col width="*">
											<col width="110">
											<col width="*">
										</colgroup>
										<tbody>
											<tr>
												<th>
													<label for="SEARCH_DMPRD_YN" class="col-form-label">사용여부</label>
												</th>
												<td>
													<div class="form-check form-check-inline">
														<input name="SEARCH_USE_YN" id="SEARCH_USE_Y" value="Y" validLabel="SEARCH_USE_YN" class="form-check-input" type="checkbox" checked>
														<label for="SEARCH_USE_Y" class="form-check-label">사용</label>
													</div>
													<div class="form-check form-check-inline">
														<input name="SEARCH_USE_YN" id="SEARCH_USE_N" value="N" validLabel="SEARCH_USE_YN" class="form-check-input" type="checkbox" checked>
														<label for="SEARCH_USE_N" class="form-check-label">사용 중지</label>
													</div>
												</td>
												<th>
													<label for="SEARCH_RLS_YN" class="col-form-label">공개여부</label>
												</th>
												<td>
													<div class="form-check form-check-inline">
														<input name="SEARCH_RLS_YN" id="SEARCH_RLS_Y" value="Y" validLabel="SEARCH_RLS_YN" class="form-check-input" type="checkbox" checked>
														<label for="SEARCH_RLS_Y" class="form-check-label">공개</label>
													</div>
													<div class="form-check form-check-inline">
														<input name="SEARCH_RLS_YN" id="SEARCH_RLS_N" value="N" validLabel="SEARCH_RLS_YN" class="form-check-input" type="checkbox" checked>
														<label for="SEARCH_RLS_N" class="form-check-label">미공개</label>
													</div>
												</td>
											</tr>
										</tbody>
									</table>
								</div>
							</form>
							<!-- s : data-table-wrap -->
							<div class="data-table-wrap">
								<table id="list" class="table table-striped w-100 nowrap"></table>
							</div>
							<!-- e : data-table-wrap -->
						</div>
						<!-- e : sub-box -->
					</div>
				</div>
				<!-- e : card -->
			</div>
			<!-- e : 왼쪽 -->
			<!-- s : 오른쪽 -->
			<div class="col-md-6">
				<div class="card">
					<div class="card-body">
						<div class="subtitle-wrap row">
							<div class="col-md-6">
								<h3 class="card-title">연료 정보</h3>
							</div>
							<div class="col-md-6">
								<div class="text-sm-end">
									<button id="btnSave" disabled class="btn btn-primary"><i class="fas fa-save me-2"></i>저장</button>
									<button id="btnNew" class="btn btn-outline-primary "><i class="fa-solid fa-plus me-2"></i>신규</button>
									<button id="btnDelete" disabled class="btn btn-outline-primary"><i class="fa-solid fa-trash me-2"></i>삭제</button>
								</div>
							</div>
						</div>
						<div class="table-form">
							<form id="myForm">
								<table class="table table-bordered align-middle">
									<colgroup>
										<col width="110">
										<col width="*">
										<col width="110">
										<col width="*">
									</colgroup>
									<tbody>
										<tr>
											<th>
												<label for="FUEL_GROUP_CD" class="col-form-label required">연료 분류</label>
											</th>
											<td colspan="3">
												<select id="FUEL_GROUP_CD" name="FUEL_GROUP_CD" class="form-select" required>
													<option value="">선택</option>
													<option th:each="item : ${fuelTypeGroupList}" th:value="${item.FUEL_GROUP_CD}" th:text="${item.FUEL_GROUP_NM}" th:attr="data-img=${item.ULD_FILE_NM} != null ? @{/file/image(path=${item.ULD_FILE_NM + '.' + item.FILE_EXTN_NM})} : null"></option>
												</select>
											</td>
										</tr>
										<tr>
											<th>
												<label for="FUEL_NM" class="col-form-label required">연료명</label>
											</th>
											<td colspan="3">
												<input type="text" id="FUEL_NM" name="FUEL_NM" class="form-control" required disabled>
											</td>
										</tr>
										<tr>
											<th>
												<label for="FUEL_ABBR" class="col-form-label required">약어</label>
											</th>
											<td>
												<input type="text" id="FUEL_ABBR" name="FUEL_ABBR" class="form-control" required disabled>
											</td>
											<th>
												<label for="SORT_SEQ" class="col-form-label">정렬순서</label>
											</th>
											<td>
												<input type="text" id="SORT_SEQ" name="SORT_SEQ" class="form-control" disabled data-inputmask="'alias': 'numeric', 'groupSeparator': ',', 'autoGroup': true, 'digits': 0, 'allowMinus': false, 'rightAlign': false">
											</td>
										</tr>
										<tr>
											<th>
												<label for="RLS_YN" class="col-form-label required">공개여부</label>
												<i class="fas fa-question-circle tooltips" data-bs-toggle="tooltip" data-bs-placement="bottom" data-bs-html="true" title="※ 미공개로 설정시 대국민 서비스 모두 화면에 표시되지 않습니다."></i>
											</th>
											<td>
												<div class="form-check form-check-inline">
													<input name="RLS_YN" id="RLS_Y" value="Y" validLabel="RLS_YN" required class="form-check-input" type="radio" disabled>
													<label for="RLS_Y" class="form-check-label">공개</label>
												</div>
												<div class="form-check form-check-inline">
													<input name="RLS_YN" id="RLS_N" value="N" validLabel="RLS_YN" required class="form-check-input" type="radio" disabled>
													<label for="RLS_N" class="form-check-label">미공개</label>
												</div>
											</td>
											<th>
												<label for="USE_YN" class="col-form-label required">사용여부</label>
												<i class="fas fa-question-circle tooltips" data-bs-toggle="tooltip" data-bs-placement="bottom" data-bs-html="true" title="※ '사용 중지'설정시 자동차 모델 등록 설정에 더 이상 나오지 않습니다.<br/>※ 대국민 서비스에서 과거데이터 모델 조회시만 조회됩니다."></i>
											</th>
											<td>
												<div class="form-check form-check-inline">
													<input name="USE_YN" id="USE_Y" value="Y" validLabel="USE_YN" required class="form-check-input" type="radio" disabled>
													<label for="USE_Y" class="form-check-label">사용</label>
												</div>
												<div class="form-check form-check-inline">
													<input name="USE_YN" id="USE_N" value="N" validLabel="USE_YN" required class="form-check-input" type="radio" disabled>
													<label for="USE_N" class="form-check-label">사용 중지</label>
												</div>
											</td>
										</tr>
										<tr>
											<th>
												<label for="FUEL_ENG_NM" class="col-form-label">영문명</label>
											</th>
											<td colspan="3">
												<input type="text" id="FUEL_ENG_NM" name="FUEL_ENG_NM" class="form-control" disabled>
											</td>
										</tr>
										<tr>
											<th>
												<label for="APLCN_YR" class="col-form-label required">적용기간</label>
											</th>
											<td colspan="3">
												<div class="col-sm">
													<div class="row gx-2 align-items-center">
														<div class="col-sm-auto">
															<div class="calendar-item">
																<label for="APLCN_BGNG_YR"><i class="fa-solid fa-calendar-days"></i></label>
																<input type="text" id="APLCN_BGNG_YR" name="APLCN_BGNG_YR" validText="적용기간(시작)" class="calendar-input" required disabled>
															</div>
														</div>
														<div class="col-sm-auto">~</div>
														<div class="col-sm-auto">
															<div class="calendar-item">
																<label for="APLCN_END_YR"><i class="fa-solid fa-calendar-days"></i></label>
																<input type="text" id="APLCN_END_YR" name="APLCN_END_YR" validText="적용기간(종료)" class="calendar-input" required disabled>
															</div>
														</div>
													</div>
												</div>
											</td>
										</tr>
										<tr>
											<th>
												<label for="MDFCN_DT" class="col-form-label">최종수정일</label>
											</th>
											<td><input type="text" id="MDFCN_DT" name="MDFCN_DT" class="form-control readonly" readonly></td>
											<th>
												<label for="MDFCN_USER_NM" class="col-form-label">최종수정자</label>
											</th>
											<td><input type="text" id="MDFCN_USER_NM" name="MDFCN_USER_NM" class="form-control readonly" readonly></td>
										</tr>
									</tbody>
								</table>
							</form>
						</div>
					</div>
				</div>
			</div>
			<!-- e : 오른쪽 -->
		</div>
		<!-- e : 내용 끝 -->
	</div>
</main>
<!-- 페이지 script -->
<th:block layout:fragment="pageScript">
<script th:inline="javascript">
const myapp = (function() {
	const myapp = {};
	
	<!--/************ Form 설정 ************/-->
	$("select").select2({
		templateResult : Common.select2ViewImage
		, templateSelection : Common.select2ViewImage
	});
	
	Common.datepicker($("#APLCN_BGNG_YR"), {
		view : "years"
	});
	Common.datepicker($("#APLCN_END_YR"), {
		view : "years"
	});
	Common.datepickerRange($("#APLCN_BGNG_YR"), $("#APLCN_END_YR"));
	
	<!--/************ DataTable 선언 ************/-->
	DataTable.init({
		targetId : "list"
		, columns : [
			{data : "SORT_SEQ", title : "정렬순서", width : "90px", className : "text-center"}
			, {data : "FUEL_GROUP_NM", title : "연료 분류명", width : "120px", className : "text-start"}
			, {data : "FUEL_NM", title : "연료명", width : "120px", className : "text-start cell-select"}
			, {data : "FUEL_ENG_NM", title : "영문명", width : "200px", className : "text-start"}
			, {data : "USE_YN", title : "사용여부", width : "90px", className : "text-center"
				, render : function(data, type, rowData, meta) {
					return data == "Y" ? "사용" : "사용 중지";
				}
			}
			, {data : "RLS_YN", title : "공개여부", width : "90px", className : "text-center"
				, render : function(data, type, rowData, meta) {
					return data == "Y" ? "공개" : "미공개";
				}
			}
		]
		, visibleRowNo : true
		, checkedRows : true
		, buttons : [
			{
				type : "excel"
				, fileName : "연료 목록"
			}
		]
		, rowSelectCallback : function(e) {
			let selectedData = DataTable.getSelectedRows();
			$("#btnDeleteSelect").prop("disabled", selectedData.length == 0);
		}
		, cellClick : function(rowData, row) {
			myapp.searchInfo(rowData);
		}
	});
	
	<!--/************ 함수 선언 ************/-->
	<!--/* 조회 설정 */-->
	myapp.setView = function(viewType) {
		if(viewType == "NEW") {
			$("#btnDelete").prop("disabled", true);
			$("#btnSave, #myForm :disabled").prop("disabled", false);
			Common.clearFormData("myForm");
			
		}else if(viewType == "EDIT") {
			$("#btnSave, #btnDelete, #myForm :input:disabled").prop("disabled", false);
			
		}else {
			$("#btnSave, #btnDelete, #myForm :input:not([readonly])").prop("disabled", true);
			Common.clearFormData("myForm");
		}
	}
	<!--/* 정보 조회 */-->
	myapp.searchInfo = function(data) {
		myapp.setView("EDIT");
		
		Common.ajax({
			url : /*[[@{/base/car/fueltype/edit/select}]]*/
			, data : data
			, callback : function(result, textStatus, jqXHR) {
				Common.setFormData("myForm", result);
			}
		});
	}
	<!--/* 목록 조회 */-->
	myapp.search = function(data) {
		myapp.setView();
		$("#btnDeleteSelect").prop("disabled", true);
		
		Common.ajax({
			url : /*[[@{/base/car/fueltype/edit/selectList}]]*/
			, data : $("#searchForm").serializeObject()
			, callback : function(result, textStatus, jqXHR) {
				DataTable.setRows({rows : result}, "list");
				
				if(Common.isEmpty(data) == false) {
					myapp.searchInfo(data);
				}else if(Common.isEmpty(result.data[0]) == false) {
					myapp.searchInfo(result.data[0]);
				}
			}
		});
	}
	myapp.search();
	<!--/* 삭제 */-->
	myapp.delete = function(list) {
		Common.ajax({
			url : /*[[@{/base/car/fueltype/edit/delete}]]*/
			, toast : "delete"
			, data : {list : list}
			, callback : function(result, textStatus, jqXHR) {
				myapp.search();
			}
		});
	}
	
	<!--/************ Form Event 선언 ************/-->
	<!--/* 검색 버튼 클릭 이벤트 */-->
	$("#btnSearch").on("click", function() {
		myapp.search();
	});
	<!--/* input 엔터 이벤트 */-->
	$("#searchForm :input").keypress(function(e) {
		if(e.keyCode == 13) {
			myapp.search();
		}
	});
	<!--/* 일괄 삭제 버튼 클릭 이벤트 */-->
	$("#btnDeleteSelect").on("click", function() {
		myapp.delete(DataTable.getSelectedRows());
	});
	<!--/* 저장 버튼 클릭 이벤트 */-->
	$("#btnSave").on("click", function() {
		const formValid = Common.valid($("#myForm"), "연료 정보");
		
		if(!formValid.valid) {
			Common.showValidDialog([formValid]);
			return;
		}
		
		Common.ajax({
			url : /*[[@{/base/car/fueltype/edit/save}]]*/
			, toast : "save"
			, data : $("#myForm").serializeObject()
			, callback : function(result, textStatus, jqXHR) {
				myapp.search(result);
			}
		});
	});
	<!--/* 신규 버튼 클릭 이벤트 */-->
	$("#btnNew").on("click", function() {
		myapp.setView("NEW");
	});
	<!--/* 삭제 버튼 클릭 이벤트 */-->
	$("#btnDelete").on("click", function() {
		myapp.delete([$("#myForm").serializeObject()]);
	});
	
	<!--/************ window 함수 선언 ************/-->
	$(window).resize(function() {
		DataTable.dataTableResize(); <!--/* DataTables resize */-->
	});
	
	return myapp;
}());
</script>
</th:block>
</th:block>