<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="BaseCarManufacturerMapper">
	<select id="selectList" parameterType="map" resultType="map">
        SELECT A1.MKR_CD
               , A1.MKR_NM
               , A1.DMPRD_YN
               , A1.RLS_YN
               , A2.ULD_FILE_NM
               , A2.FILE_EXTN_NM
          FROM TN_CAR_MAKER A1
          LEFT JOIN CM_ATCH_FILE A2
            ON A1.ATCH_FILE_CD = A2.ATCH_FILE_CD
        <where>
            <if test="SEARCH_DMPRD_YN != null and SEARCH_DMPRD_YN.size > 0">
                <foreach open = "AND A1.DMPRD_YN IN (" close=")" collection="SEARCH_DMPRD_YN" item="item" separator=",">#{item}</foreach>
            </if>
            <if test="SEARCH_RLS_YN != null and SEARCH_RLS_YN.size > 0">
                <foreach open = "AND A1.RLS_YN IN (" close=")" collection="SEARCH_RLS_YN" item="item" separator=",">#{item}</foreach>
            </if>
        </where>
         ORDER BY A1.REG_DT DESC, A1.MKR_NM
	</select>
	<select id="select" parameterType="map" resultType="map">
        SELECT A1.MKR_CD
               , A1.MKR_NM
               , A1.MKR_ENG_NM
               , A1.DMPRD_YN
               , A1.RLS_YN
               , A1.USE_YN
               , A1.ATCH_FILE_CD
               , A2.ULD_FILE_NM
               , A2.ULD_FILE_NM AS ORGNL_ULD_FILE_NM
               , A2.FILE_SZ
               , A2.ORGNL_FILE_NM
               , A2.FILE_EXTN_NM
               , A2.WDTH_SZ
               , A2.VRTC_SZ
               , A3.USER_NM AS MDFCN_USER_NM
               , DATE_FORMAT(A1.MDFCN_DT, '%Y-%m-%d') AS MDFCN_DT
          FROM TN_CAR_MAKER A1
          LEFT JOIN CM_ATCH_FILE A2
            ON A1.ATCH_FILE_CD = A2.ATCH_FILE_CD
         INNER JOIN TN_USER A3
            ON A1.MDFCN_USER_CD = A3.USER_CD
         WHERE A1.MKR_CD = #{MKR_CD}
	</select>
	<insert id="merge" parameterType="map">
        <selectKey resultType="String" keyProperty="MKR_CD" order="BEFORE">
            SELECT IFNULL(#{MKR_CD}, FN_GET_KEYCODE())
        </selectKey>
        INSERT INTO TN_CAR_MAKER (
               MKR_CD
               , MKR_NM
               , MKR_ENG_NM
               , DMPRD_YN
               , RLS_YN
               , USE_YN
               , ATCH_FILE_CD
               , REG_USER_CD
               , REG_USER_IP
               , REG_DT
               , MDFCN_USER_CD
               , MDFCN_USER_IP
               , MDFCN_DT
        )
        VALUES (
               #{MKR_CD}
               , #{MKR_NM}
               , #{MKR_ENG_NM}
               , #{DMPRD_YN}
               , #{RLS_YN}
               , #{USE_YN}
               , #{ATCH_FILE_CD}
               , #{SESSION_USER_CD}
               , #{SESSION_USER_IP}
               , NOW()
               , #{SESSION_USER_CD}
               , #{SESSION_USER_IP}
               , NOW()
        )
        ON DUPLICATE KEY UPDATE
           MKR_NM = #{MKR_NM}
           , MKR_ENG_NM = #{MKR_ENG_NM}
           , DMPRD_YN = #{DMPRD_YN}
           , RLS_YN = #{RLS_YN}
           , USE_YN = #{USE_YN}
           , ATCH_FILE_CD = #{ATCH_FILE_CD}
           , MDFCN_USER_CD = #{SESSION_USER_CD}
           , MDFCN_USER_IP = #{SESSION_USER_IP}
           , MDFCN_DT = NOW()
	</insert>
	<delete id="delete" parameterType="map">
        DELETE FROM TN_CAR_MAKER
         WHERE MKR_CD = #{MKR_CD}
	</delete>
</mapper>