<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="BaseCarCarTypeMapper">
	<select id="selectList" parameterType="map" resultType="map">
        SELECT A1.CARMDL_CD
               , A1.CLSF_SE_CD
               , A1.CARMDL_CLSF_NM
               , A1.RLS_YN
               , A1.SORT_SEQ
          FROM TN_CAR_KIND A1
        <where>
            <if test="SEARCH_CLSF_SE_CD != null and SEARCH_CLSF_SE_CD.size > 0">
                <foreach open = "AND A1.CLSF_SE_CD IN (" close=")" collection="SEARCH_CLSF_SE_CD" item="item" separator=",">#{item}</foreach>
            </if>
            <if test="SEARCH_RLS_YN != null and SEARCH_RLS_YN.size > 0">
                <foreach open = "AND A1.RLS_YN IN (" close=")" collection="SEARCH_RLS_YN" item="item" separator=",">#{item}</foreach>
            </if>
        </where>
         ORDER BY A1.CLSF_SE_CD, A1.SORT_SEQ, A1.CARMDL_CLSF_NM
	</select>
	<select id="select" parameterType="map" resultType="map">
        SELECT A1.CARMDL_CD
               , A1.CLSF_SE_CD
               , A1.CARMDL_CLSF_NM
               , A1.APLCN_BGNG_YR
               , A1.APLCN_END_YR
               , A1.RLS_YN
               , A1.SORT_SEQ
               , A3.USER_NM AS MDFCN_USER_NM
               , DATE_FORMAT(A1.MDFCN_DT, '%Y-%m-%d') AS MDFCN_DT
          FROM TN_CAR_KIND A1
         INNER JOIN TN_USER A3
            ON A1.MDFCN_USER_CD = A3.USER_CD
         WHERE A1.CARMDL_CD = #{CARMDL_CD}
	</select>
	<insert id="merge" parameterType="map">
        <selectKey resultType="String" keyProperty="CARMDL_CD" order="BEFORE">
            SELECT IFNULL(#{CARMDL_CD}, FN_GET_KEYCODE())
        </selectKey>
        INSERT INTO TN_CAR_KIND (
               CARMDL_CD
               , CLSF_SE_CD
               , CARMDL_CLSF_NM
               , APLCN_BGNG_YR
               , APLCN_END_YR
               , RLS_YN
               , SORT_SEQ
               , REG_USER_CD
               , REG_USER_IP
               , REG_DT
               , MDFCN_USER_CD
               , MDFCN_USER_IP
               , MDFCN_DT
        )
        VALUES (
               #{CARMDL_CD}
               , #{CLSF_SE_CD}
               , #{CARMDL_CLSF_NM}
               , #{APLCN_BGNG_YR}
               , #{APLCN_END_YR}
               , #{RLS_YN}
               , #{SORT_SEQ}
               , #{SESSION_USER_CD}
               , #{SESSION_USER_IP}
               , NOW()
               , #{SESSION_USER_CD}
               , #{SESSION_USER_IP}
               , NOW()
        )
        ON DUPLICATE KEY UPDATE
           CLSF_SE_CD = #{CLSF_SE_CD}
           , CARMDL_CLSF_NM = #{CARMDL_CLSF_NM}
           , APLCN_BGNG_YR = #{APLCN_BGNG_YR}
           , APLCN_END_YR = #{APLCN_END_YR}
           , RLS_YN = #{RLS_YN}
           , SORT_SEQ = #{SORT_SEQ}
           , MDFCN_USER_CD = #{SESSION_USER_CD}
           , MDFCN_USER_IP = #{SESSION_USER_IP}
           , MDFCN_DT = NOW()
	</insert>
	<delete id="delete" parameterType="map">
        DELETE FROM TN_CAR_KIND
         WHERE CARMDL_CD = #{CARMDL_CD}
	</delete>
</mapper>